*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0e0e0e;
    overflow-x: hidden;
    color: #fff;
}
#logo{
    width: 250px;
}
.navbar{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  flex-wrap: wrap;

}
.list{
    list-style-type: none;
    display: flex;
    gap: 25px;
}
.home{
    font-weight: bolder;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.course{
    display: flex;
    position: relative;

}
.drpCrourse{
    width: 200px;
    padding: 20px;
    position: absolute;
    color: white;
    background-color: #00000077;
    font-size: 17px;
    list-style: none;
    top:25px;
    font-family: sans-serif;
    border: 1px solid #948c8c;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: scaleY(0);
    transition: all 0s ease-in;
    z-index: 2;
}
.course:hover>.drpCrourse{
    transform: scaleY(1);
}
/* main css */
main{
    display: flex;
    justify-content: center;
}
.intro{
    width: 80%;
    height: 80vh;
    display: flex;
    position: relative; 
}
.Introimage{
width: 100%;
}
.Introimage img{
    width: 100%;
    height:100%;
    border-radius: 20px;
    object-fit: cover;
}
.introdata{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.442);
    padding-left: 20px;
}
.head{
    color: white;
    font-family: serif;
    width: 500px;
    font-size:35px;
}
.intropara{
    width:500px ;
    color: white;
    font-size: 20px;
    font-family: serif;
}
.btn1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 60px;
    width: 200px;
    background-color: #1a1a1a;
    border-radius: 30px;
    font-size: 18px;
    border: 1px solid black;
    margin-top: 30px; 
}
/* loader css */
#loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: 9;
    display: flex;
}
.load{
    width: 10%;
    height: inherit;
    background-color: rgba(24, 46, 78, 0.841);
}
.section2{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.section-para{
    color: white;
    width: 550px;
    font-size: 27px;
    font-family: serif;
    text-align: center;
}
.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.clients{
    color: white;
    width: 250px;
    text-align: center;
    font-size: 25px;
    font-family: serif;
}
.div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.part1 h1{
    color: white;
    text-align: center;
    padding-top: 30px;
}
.courses{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap :30px;
}
.section5{
    display: flex;
    flex-wrap: wrap;
    gap: 250px;
}
.course-card{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: 350px;
    position: relative;
}
.course-cardhead{
    height: inherit;
}
.course-cardhead img{
width: 100%;
height:inherit;
position: relative;
}
.course-cardbody{
    position: absolute;
    color: #fff;
    width: 100%;
    bottom: 0px;
}
.course-cardbody h1{
    font-family: monospace;
}
.section5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 .parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
     /* gap: 540px;  */
    justify-content: space-between;
     position: relative; 
 } 
.left-side{
    width: 50%;
    color: white;
    padding-top: 50px;
}

.left-side{
    padding-left: 50px;
}
.right-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #fff;
}
.R-cardhead{
    width: 70px;
}
.R-cardhead img{
width: 60%;
}
.R-cardbody p{
     width: 550px;
}
.rcard{
    display: flex;
    flex-direction: column;
     gap: 10px;    
}
.right-side{
    display: flex;
    flex-direction: column;
}
.left-side h1{
    position: sticky;
    top: 250px;
}
.section5{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
    padding-top: 60px;
}
.media{
    display: flex;
    flex-wrap: wrap;
width: 100%;
padding-left: 90px;
}
.media img{
    width:100px;
    height: 50px;
}
.s-head{
    white-space: nowrap;
    color: white;
    text-align: center;
}
.section7{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    color: #fff;
}
.profile-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.p-cardhead{
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding-left: 60px;
}
.part{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: #fff;
}

.p-cardhead img{
    width: 50px;
    height: 40px;
    border-radius: 50%;
}
.p-cardbody p{
    width: 330px;
   text-align: center;
   
}
#c-parent{
    display: flex;
    flex-wrap: wrap;
}
.card-p{
    display: flex;
    justify-content: center;
 margin-top: 50px;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.card-p{
    display: flex;
    flex-wrap: wrap;
border: 1px solid crimson ;
    border-radius: 15px;
    gap: 20px;
    margin-left: 60px;
    flex-direction: column;
} 

.section8{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
justify-content: center;
align-items: center;
text-align: center;
}
.para8{
     width:4500px; 
       padding-top: 50px;
    word-spacing: 5px;
    color:rgb(162, 66, 175);
    /* margin-top: 150px; */
    flex-wrap: wrap;
    font-size: 35px;
    font-weight: bolder;
    font-family: serif;
}
.menuIcon{
    height:35px;
    display: none;
}
/* ============================================ */
/* responsive start */
@media only screen and (max-width:800px) {
    nav{
        padding: 20px;
    }
    .menu{
        position: absolute;
        width: 90%;
        background-color: #0e0e0e;
        padding: 20px;
        top: 100px;
        left: 30px;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: top;
        transform: scaleY(0);
        transition: all 0.5s ease-in-out;
    }
    .menuIcon{
        display: inline;
    }
    .list{
        flex-direction: column;
    }
    .show{        
        transform: scaleY(1);
    }
}